<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<%= form_for :trip, url: trips_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </p>
  <% @museums.each do |museum| %>
    <p>
      <%= check_box_tag(museum.id) %>
      <%= museum.name %>
    </p>
  <% end %>
  <p>
    <%= f.submit %>
  </p>
<% end %>