<p>
If you don't hava a use, you can register one, and then go to the trips list.
</p>
<p>
Or you can go to the <a href="/trips">trips page</a> directly
</p>
<%= form_for :user, url: users_path do |f| %>
  <p>
    <%= f.label 'Email' %><br>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label 'Password' %><br>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.submit 'Register' %>
  </p>
<% end %>